@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

div.card-big{
    width: 68%;
    height: 55vh;
    background-color: color(primary);
    border-radius: $radius;
    padding: $pm2;
    @include flex (column, center, center);
    margin: 0 auto;
    
    @include mobileL {
        width: 78%;
        height: 68vh;
    }
}
div.card-small{
    width: 45%;
    height: 5vh;
    background-color: color(backgorund);
    border-radius: $radius;
    padding: 30px;
    @include flex (column, center, center);

    @include tablet{
        width: 60%;
    }
    @include mobileL {
        width: 75%;
    }
}